# Dota analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_players = pd.read_csv('data/players.csv')
df_players.head()

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
0,0,0,86,0,3261,10960,347,362,9,3,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,51,1,2954,17760,494,659,13,3,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,83,2,110,12195,350,385,0,4,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2,11,3,1179,22505,599,605,8,4,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3,67,4,3307,23825,613,762,20,3,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 73 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   match_id                           500000 non-null  int64
 1   account_id                         500000 non-null  int64
 2   hero_id                            500000 non-null  int64
 3   player_slot                        500000 non-null  int64
 4   gold                               500000 non-null  int64
 5   gold_spent                         500000 non-null  int64
 6   gold_per_min                       500000 non-null  int64
 7   xp_per_min                         500000 non-null  int64
 8   kills                              500000 non-null  int64
 9   deaths                             500000 non-null  int64
 10  assists                            500000 non-null  int64
 11  denies                             500000 non-null  int64
 12  last_hits                          500000 non-null  int64
 13  stuns                              500000 non-null  object
 14  hero_damage                        500000 non-null  int64
 15  hero_healing                       500000 non-null  int64
 16  tower_damage                       500000 non-null  int64
 17  item_0                             500000 non-null  int64
 18  item_1                             500000 non-null  int64
 19  item_2                             500000 non-null  int64
 20  item_3                             500000 non-null  int64
 21  item_4                             500000 non-null  int64
 22  item_5                             500000 non-null  int64
 23  level                              500000 non-null  int64
 24  leaver_status                      500000 non-null  int64
 25  xp_hero                            498117 non-null  float64
 26  xp_creep                           499932 non-null  float64
 27  xp_roshan                          179562 non-null  float64
 28  xp_other                           478964 non-null  float64
 29  gold_other                         405103 non-null  float64
 30  gold_death                         493701 non-null  float64
 31  gold_buyback                       147141 non-null  float64
 32  gold_abandon                       20634 non-null   float64
 33  gold_sell                          397407 non-null  float64
 34  gold_destroying_structure          480325 non-null  float64
 35  gold_killing_heros                 498435 non-null  float64
 36  gold_killing_creeps                499706 non-null  float64
 37  gold_killing_roshan                259736 non-null  float64
 38  gold_killing_couriers              96979 non-null   float64
 39  unit_order_none                    6 non-null       float64
 40  unit_order_move_to_position        499958 non-null  float64
 41  unit_order_move_to_target          445450 non-null  float64
 42  unit_order_attack_move             386729 non-null  float64
 43  unit_order_attack_target           499895 non-null  float64
 44  unit_order_cast_position           497731 non-null  float64
 45  unit_order_cast_target             483326 non-null  float64
 46  unit_order_cast_target_tree        464288 non-null  float64
 47  unit_order_cast_no_target          499108 non-null  float64
 48  unit_order_cast_toggle             98789 non-null   float64
 49  unit_order_hold_position           362723 non-null  float64
 50  unit_order_train_ability           499927 non-null  float64
 51  unit_order_drop_item               211333 non-null  float64
 52  unit_order_give_item               105369 non-null  float64
 53  unit_order_pickup_item             255342 non-null  float64
 54  unit_order_pickup_rune             425483 non-null  float64
 55  unit_order_purchase_item           499943 non-null  float64
 56  unit_order_sell_item               388134 non-null  float64
 57  unit_order_disassemble_item        14554 non-null   float64
 58  unit_order_move_item               495736 non-null  float64
 59  unit_order_cast_toggle_auto        36330 non-null   float64
 60  unit_order_stop                    87575 non-null   float64
 61  unit_order_taunt                   0 non-null       float64
 62  unit_order_buyback                 147767 non-null  float64
 63  unit_order_glyph                   226770 non-null  float64
 64  unit_order_eject_item_from_stash   31264 non-null   float64
 65  unit_order_cast_rune               9 non-null       float64
 66  unit_order_ping_ability            339148 non-null  float64
 67  unit_order_move_to_direction       3551 non-null    float64
 68  unit_order_patrol                  0 non-null       float64
 69  unit_order_vector_target_position  0 non-null       float64
 70  unit_order_radar                   0 non-null       float64
 71  unit_order_set_item_combine_lock   0 non-null       float64
 72  unit_order_continue                0 non-null       float64
dtypes: float64(48), int64(24), object(1)
memory usage: 278.5+ MB

In [4]:
df_players.shape

(500000, 73)

In [5]:
df_heroesMatch = df_players[['match_id','hero_id']]

In [20]:
df_match = pd.read_csv('data/match.csv')

In [21]:
df_match.head()

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

In [23]:
df_output = df_match[['match_id','radiant_win']]
df_output.head()

   match_id  radiant_win
0         0         True
1         1        False
2         2        False
3         3        False
4         4         True

In [25]:
df_heroesMatch[df_heroesMatch['match_id'] == 0 ]

   match_id  hero_id
0         0       86
1         0       51
2         0       83
3         0       11
4         0       67
5         0      106
6         0      102
7         0       46
8         0        7
9         0       73

In [26]:
df_players.head()

,match_id,account_id,hero_id,player_slot,gold,gold_spent,gold_per_min,xp_per_min,kills,deaths,...,unit_order_glyph,unit_order_eject_item_from_stash,unit_order_cast_rune,unit_order_ping_ability,unit_order_move_to_direction,unit_order_patrol,unit_order_vector_target_position,unit_order_radar,unit_order_set_item_combine_lock,unit_order_continue
0,0,0,86,0,3261,10960,347,362,9,3,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,0,1,51,1,2954,17760,494,659,13,3,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,83,2,110,12195,350,385,0,4,...,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2,11,3,1179,22505,599,605,8,4,...,1.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,3,67,4,3307,23825,613,762,20,3,...,3.0,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN